* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: unset;

  &:hover {
    text-decoration: unset;
    color: #000;
  }
}

input,
button,
select,
textarea {
  outline: none;
  border: none;
  box-shadow: unset;
}
